<html>
    <head>
        <title>{{title}}</title>

		<!-- 기본 메타 태그 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{title}}">
		<meta name="author" content="천상의나무">

        <!-- IE 미지원 -->
		<script>
			var agent = navigator.userAgent.toLowerCase();
			if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
				window.location.href="https://ajb3296.github.io/IE_filtering/";
			}
		</script>

    </head>
    <body>
        <h1>TK-Chart</h1>
    </body>
</html>